.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
    font-family: "Rubik", sans-serif;
}
.fstyle {
    font-family: 'Noto Sans KR', sans-serif;
}
.text-white {
    color: #fff!important;
}
.text-center {
    text-align: center!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }  /*start button designing */
 .movie {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    resize: none;
 } /*search bar designing */

 .movie-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
 }  
/* card designing */
.movie-content>div
 { 
    margin: 20px;
}

 .btn-block { 
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
} 
/* card button */

#content {
    background-color: #010211;
    background-image: url("image.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;  
    font-family: 'Noto Sans JP', sans-serif;
}

#content2 {
    background-color: #1F2833;
    background-image: url("image.jpg");
    height: auto;
    background-position: center;
    background-size: cover;  
    /* font-family: 'Noto Sans JP', sans-serif; */
}



#details {
    margin-left: 50px;
}

.footer {
    color: #e4e0e0;
    text-align: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

/* h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fb1308;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
    text-decoration: underline;
} */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

#autoComplete {
    background-position: 98%;
}

#name {
    color: whitesmoke;
    padding: 1px;
}

h5 {
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

h6 {
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
    #mcontent {
        display: block;
    }
    .poster-lg {
        display: none;
    }
    #details {
        margin-left: 30px;
    }
    #loader {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/loader.gif");
        background-size: 50%;
        background-position: 50% 50%;
        background-color: black;
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
    }
    #loader-text {
        vertical-align: middle;
        color: white;
    }
    #autoComplete {
        background-position: 97%;
    }
    svg[data-toggle=tooltip] {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 991px) {
    .modal-body {
        display: block;
    }
    .profile-pic {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .modal-body {
        display: flex;
    }
}

@media only screen and (min-width: 651px) {
    .poster-sm {
        display: none;
    }
    #mcontent {
        display: flex;
        flex-wrap: nowrap;
    }
    #loader {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/loader.gif");
        background-size: 40%;
        background-position: 50% 50%;
        background-color: black ;
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
    }
    #loader-text {
        vertical-align: middle;
        color: rgba(255, 254, 254, 0.842);
    }
}

/* .poster {
    -webkit-box-shadow: 0px 1px 15px 4px rgb(163, 223, 241);
    -moz-box-shadow: 0px 1px 15px 4px rgb(214, 251, 253);
     box-shadow: 0px 1px 15px 4px rgb(250, 163, 2); 
} */
.poster
{
    border:  snow solid 4px;
}
.card:hover {
    cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
    filter: brightness(100%);
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.cast-img:hover {
    filter: brightness(50%);
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* backdrop-filter: brightness(50%); */
    /* position: absolute; */
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    /* opacity: 0; */
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
    opacity: 1;
    backdrop-filter: br;
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
    border-radius: 20px;
}

.imghvr {
    position: relative;
}

.table td {
    border-color: snow;
    border-style: solid;
    border-width: 1px;
}

.fail {
    display: none;
    color: white;
}